.container {
    display: flex;
}
.maincontent {
max-width: 70%;
max-height: 100vh;
width: 100%!important;
height: 100vh;
background: #B5D6DD;
display: flex;
flex-wrap: wrap;
}
.sidemenu {
max-width: 30%;
max-height: 100vh;
width: 100%;
height: 100vh;
background: #ffffff;
}
.testbox {
background: #ababab;
width: 100%;
margin: 48px;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}
.box {
    background: #000000;
    display: flex;
    width: auto;
    height: max-content;
    margin: 0 5w0px;
}
.box h3 {
    margin: 0 10px;
}
.carousel {
    background: whitesmoke;
    width: 100%;
    height: 40%;
    margin: -40% 0;
}